<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <%- include(atRoot("partial/_include_font.html"), {paths: ["/css/font/sourcesanspro-regular.woff.css","/css/font/sourcesanspro-light.woff.css"]}) %>
</head>
<body>
<header class="header <%= header_class %>">
  <div class="header__logo"></div>
  <a class="header__title" href="/">Home</a>
</header>
<h1><%= title %></h1>

<%- contents %>

<footer>
  <ul>
    <li><a href="//dennistreder.de/imprint">Imprint</a></li>
  </ul>
</footer>

</body>
</html>