<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="headjump - games and pixel" />
  <meta property="og:image"       content="<%= websiteUrl %>/headjump.png" />
  <meta property="og:description" content="<%= page_description %>" />

  <link rel="apple-touch-icon" href="/headjump.png">
  <link rel="icon" href="/headjump.png">

  <title>headjump<%= title !== "" ? (" - " + title) : " - Games and Pixel"%></title>
  <meta name="description" content="<%= page_description %>">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <%- include(atRoot("partial/_include_font.html"), {paths: ["/css/fonts/sourcesanspro-regular.woff.css","/css/fonts/sourcesanspro-light.woff.css"]}) %>

  <!-- Fancybox http://fancyapps.com/fancybox/3/ -->
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
  <script>$.fancybox.defaults.buttons = ['close']</script>

</head>
<body>

<script type="text/javascript">
  // ----------------- touch device? ----------------- %>
  if(  navigator.userAgent.match(/Android/i)
    || navigator.userAgent.match(/webOS/i)
    || navigator.userAgent.match(/iPhone/i)
    || navigator.userAgent.match(/iPad/i)
    || navigator.userAgent.match(/iPod/i)
    || navigator.userAgent.match(/BlackBerry/i)
    || navigator.userAgent.match(/Windows Phone/i)
  ) {
    document.body.className += " touch-device";
    window.TOUCH = true;
  } else {
    document.body.className += " no-touch-device";
  }
</script>

<header class="header">
  <div class="header__logo"><img src="/img/logo.png" aria-hidden="true"></div>
  <div class="header__title"><img src="/img/title.png" aria-hidden="true"></div>
  <h1>
    Headjump - <%= title !== "" ? title : "Games and Indiegames and Game development by Dennis Treder" %>
  </h1>
  <div class="header__subtitle">
    <h2>Hi, I am <span class="dontbreak">Dennis Treder</span>. Sometimes I make games and have ideas. Here are some.</h2>
  </div>
</header>

<div class="content">
  <div class="content__inner">

    <% if(title !== ""){ %>
      <h1><%= title %></h1>
    <% } %>

    <%- contents %>

  </div>
</div>

<footer>
  <div class="footer">
    <ul>
      <li class="dontbreak"><a href="https://twitter.com/headjump"><%- icon('twitter')%> Twitter</a></li>
      <li class="dontbreak"><a href="https://github.com/headjump"><%- icon('github')%> GitHub</a></li>
      <li class="dontbreak"><a href="https://headjump.itch.io/"><%- icon('gamepad')%> itch.io</a></li>
      <li class="dontbreak"><a href="http://dennistreder.de/imprint">Imprint</a></li>
    </ul>
  </div>
</footer>

<div class="tracking tracking--lightColors tracking--inFooter">
  This site uses Google Analytics <a href="/privacy">(Privacy policy)</a>.
  <span class="tracking--whenTracked">You can <a href="javascript:gaOptout()">deactivate tracking.</a></span>
  <span class="tracking--whenNotTracked">You are <em>not</em> tracked. I'm still glad you are here, though :)</span>
</div>
<%- include(atRoot("partial/_tracking_code.html")) %>

</body>
</html>