$cBgDark: #888
$cTextDark: #ddd

$font-family-sans-serif: "source_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-headline: 'source_sans_prolight', "source_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif