.header
  text-align: center
  background-color: #16171A
  padding: 2em 0
  h1
    position: absolute
    margin-top: -999em

.header__logo
  img
    width: 147px
    height: auto
    +small
      width: 73px

.header__title
  margin-top: 1em
  +small
    margin-top: .25em
  img
    width: 160px
    height: auto
    +small
      width: 120px

.header__subtitle
  color: #68A6E7
  max-width: 320px
  margin: 0 auto
  h2
    font-family: $font-family-text
    margin: 0
    margin-top: .25em
    font-size: .85em
    font-weight: normal
    +small-to-medium
      margin-left: 1em
      margin-right: 1em