$thing__bg: #25262C
$thing__gallery: #0F0F10

.thing
  max-width: 460px
  position: relative
  box-sizing: border-box
  background-color: $thing__bg
  padding: 1.5em 1em
  margin: 2em auto
  +small
    padding: 1.25em 1em
    margin: 1.25em 0
    margin-left: -1em
    margin-right: -1em
.thing--small
  //padding: 1em
  //+small
  //  padding: 1em
.thing > div
  max-width: 340px
  box-sizing: border-box
  margin: 0 auto

// -------------- TEASER --------------
.thing__teaser
  text-align: center
  padding-bottom: 1em
  position: relative
  img
    width: 100%
    max-width: 300px
    height: auto
    border-radius: 18px
    box-shadow: 0 5px 28px rgba(0,0,0,.4)
    transition-property: transform, filter
    transition-duration: .3s
    transform: translate3d(0,0,0)
    +small
      max-width: 200px
.no-touch-device .thing__teaser 
  a:hover img
    transform: scale3d(1.05,1.05,1) translate3d(0,-3px,0)
    filter: brightness(110%)
  a:active img
    transition-duration: .18s
    transform: scale3d(.95,.96,1) translate3d(0,5px,0)
.thing--small .thing__teaser
  padding-bottom: .5em
  img
    border-radius: 8px
    max-width: 120px
    box-shadow: 0 3px 14px rgba(0,0,0,.4)


// -------------- DESCRIPTION --------------
.thing__description
  text-align: center
  h2
    color: white
    margin: .25em 0 .5em 0
  +medium-and-up
    p
      margin-left: .75em
      margin-right: .75em
.thing--small .thing__description
  h2
    font-size: 1.25em


// -------------- BUTTON --------------
a.button
  box-shadow: 0 2px 8px rgba(0,0,0,.4)
  display: block
  box-sizing: border-box
  text-align: center
  line-height: 1.1em
  padding: 14px .35em
  justify-content: space-around
  flex-direction: column
  background: #0CC888 linear-gradient(180deg, #0DD582, #0BBA8E)
  border-bottom: 4px solid #009070
  color: white
  font-weight: bold
  font-size: 1.4em
  text-shadow: 0 2px 2px rgba(0,0,0,.3)
  transition-property: transform, filter
  transition-duration: .3s
  transform: translate3d(0,0,0)
  i.fa
    font-size: 1.5em
    vertical-align: text-bottom
  &:hover
    text-decoration: none
    transform: translate3d(0,-2px,0)
    filter: brightness(120%)
  &:active
    text-decoration: none
    transition-duration: .18s
    transform: scale3d(.98,.98,1) translate3d(0,2px,0)
  small
    display: block
    font-weight: normal
    margin-bottom: -4px
    font-size: .7em
    color: rgba(255,255,255,.9)


// -------------- GALLERY --------------
.thing__gallery
  padding: 1em
  display: flex
  justify-content: space-around
  background-color: $thing__gallery
.thing__gallery__item
  position: relative
  width: 60px
  a
    display: block
    line-height: 0
  img
    width: 100%
    height: auto