.thing
  margin: 4em 0
  +small
    margin: 2em 0
    margin-left: -1em
    margin-right: -1em
  position: relative
  background-color: #1D1E21
.thing__header
  +clear-after
  h2
    color: white

.thing__teaser
  img
    max-width: 100%
    height: auto

// SMALL modifications
.thing--small
  h2
    font-size: 1.5em
  .thing__teaser
    float: left
    width: 35%
  .thing__description
    box-sizing: border-box
    float: right
    width: 64%
    padding-left: 1.25em