<div class="thing<%= thing.small ? ' thing--small' : ''%>">

  <div class="thing__teaser">
    <a href="<%= thing.link %>"><img src="<%= thing.teaser %>"></a>
  </div>

  <div class="thing__description">
    <div class="thing__title">
      <h2><%= thing.title %></h2>
    </div>
    <div class="thing__body">
      <%- thing.body -%>
    </div>
  </div>

  <div class="thing__button__container">
    <%- thing.button.replace(/{link}/gi,thing.link) -%>
  </div>

  <% if (thing.gallery.length>0) { %>
  <div class="thing__gallery">
    <% thing.gallery.forEach(function(item){ %>

      <div class="thing__gallery__item"><a href="<%= item.link %>" data-fancybox="<%= thing.uid %>" title="<%= item.desc %>"><img src="<%= item.thumb %>"></a></div>

    <% }); %>
  </div>
  <% } %>

</div>
