---
title: Testtitle hello :)
layout: layout.html
header_class: "header--large"
---

index! <%= "hello world" %>

<ul>
  <li>
    <a href="/rocket">RockKid!</a>
  </li>
</ul>

<%- include(atRoot("partial/_test.html"), {a_val: "A value!"}) %>