---
layout: layout.html
---

<%
  const dummy_gallery = [
    {thumb: "/img/placeholder--thumb.jpg", desc: "Title", link:"/img/placeholder--large.jpg"},
    {thumb: "/img/placeholder--thumb.jpg", desc: "Title", link:"/img/placeholder--large.jpg"},
    {thumb: "/img/placeholder--thumb.jpg", desc: "Title", link:"/img/placeholder--large.jpg"}
  ];
%>

<%- include(atRoot("partial/_thing.html"), {thing: {
  uid: "pirategolf",
  title: "Pirate Golf Adventure",
  link: "https://headjump.itch.io/pirate-golf-adventure",
  teaser: "/img/pirategolf__teaser.jpg",
  body: `
    <p>
      A game for your browser. 2D Sidescrolling Casual Minigolf with a pirate theme and a cheesy story.
    </p>
    <p class="light">
      Play it with <em>Flash</em> or download for Windows or Mac!
    </p>
  `,
  button: `
    <a class="button" href="{link}">
      <span class="show-touch">${icon('desktop')} Play on Windows & Mac!</span>
      <span class="show-desktop">${icon('gamepad')} Play in your browser!<small>Or download for Windows & Mac</small></span>
    </a>
    <a data-fancybox="gallery" class="button button--secondary" href="https://vimeo.com/227221015">
      ${icon('play-circle')} Video Demo
    </a>
  `,
  gallery: []
}}) %>


<%- include(atRoot("partial/_thing.html"), {thing: {
  small: true,
  uid: "rockkid",
  title: "RockKid!",
  link: "/g/rockkid",
  teaser: "/img/rockkid__teaser.jpg",
  body: `
    Early game <strong>prototype!</strong>
  `,
  button: `
    <a class="button" href="{link}">
      ${touchOrDesktop(icon('mobile'),icon('gamepad'))} Play game prototype!
    </a>
  `,
  gallery: []
}}) %>

<%- include(atRoot("partial/_thing.html"), {thing: {
  small: true,
  uid: "pico8_html_template",
  title: "PICO8 HTML Template",
  body: `
    HTML surround to embed PICO8 games in, with support for manifest files
    and configurable touch controls <span style='font-size: 1.25em'>${icon('mobile')}</span>${icon('hand-o-left')}.
  `,
  button: `
    <a class="button" href="{link}">
      ${icon('github')} View on GitHub!
    </a>
  `,
  link: "https://github.com/headjump/pico8_html_template",
  teaser: "/img/pico8_html_template__teaser.jpg",
  gallery: []
}}) %>

<%# include(atRoot("partial/_thing.html"), {thing: {
  small: true,
  uid: "crane",
  title: "The Last Crane",
  body: "",
  button: `
    <a class="button" href="{link}">
      ${touchOrDesktop(icon('mobile'),icon('gamepad'))} Play in your browser!
    </a>
  `,
  link: "/g/crane",
  teaser: "/img/crane__teaser.jpg",
  gallery: []
}}) %>