---
layout: layout.html
---

<%
  const dummy_gallery = [
    {thumb: "/img/placeholder--thumb.jpg", desc: "Title", link:"/img/placeholder--large.jpg"},
    {thumb: "/img/placeholder--thumb.jpg", desc: "Title", link:"/img/placeholder--large.jpg"},
    {thumb: "/img/placeholder--thumb.jpg", desc: "Title", link:"/img/placeholder--large.jpg"}
  ];
%>

<%- include(atRoot("partial/_thing.html"), {thing: {
  uid: "pirategolf",
  title: "Pirate Golf Adventure",
  link: "https://headjump.itch.io/pirate-golf-adventure",
  teaser: "/img/pirategolf__teaser.jpg",
  body: `
    <p>
      A game for your browser. 2D Sidescrolling Casual Minigolf with a pirate theme and a cheesy story.
    </p>
    <p class="light">
      Play it with <em>Flash</em> or download for Windows or Mac!
    </p>
  `,
  button: `
    <a class="button" href="{link}">DO IT!</a>
  `,
  gallery: dummy_gallery
}}) %>


<%- include(atRoot("partial/_thing.html"), {thing: {
  small: true,
  uid: "rockkid",
  title: "RockKid!",
  link: "/g/rockkid",
  teaser: "/img/rockkid__teaser.jpg",
  body: "",
  button: "",
  gallery: dummy_gallery
}}) %>


<%- include(atRoot("partial/_thing.html"), {thing: {
  small: true,
  uid: "crane",
  title: "The Last Crane",
  body: "",
  button: "",
  link: "/g/crane",
  teaser: "/img/crane__teaser.jpg",
  gallery: dummy_gallery
}}) %>