---
title: Welcome to headjump!
layout: layout.html
---

index! <%= "hello world" %>

<ul>
  <li>
    <a href="/games/rockkid">RockKid!</a>
  </li>
</ul>

<%- include(atRoot("partial/_test.html"), {a_val: "A value!"}) %>